* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a{
    text-decoration: none;
}

a img {
    border: none;
}
  
button,
a {
    cursor: pointer;
    color: inherit;
}
  
textarea {
    resize: none;
}
  
button,
textarea,
select {
    appearance: none !important;
    border-radius: 0;
}

/* END OF CSS RESET */




#root{
    background-color: #f7e4d4;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#root div{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#root h1{
    font-family: 'EB Garamond';
    font-size: 48px;
    text-align: center;
    color: #467745;
    margin-bottom: 10px;
    font-weight: 400;
}

input[type=text] {
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 64px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #467745;
}

textarea{
    background-color: whitesmoke;
    margin-bottom: 10px;
    padding: 10px;
    width: 100%;
    height: 120px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #467745;
}

button{
    background-color: #467745;
    color: #f7e4d4;
    width: 280px;
    height: 80px;
    font-family: 'EB Garamond';
    font-size: 21px;
    text-align: center;
    letter-spacing: 0.2em;
    border-radius: 50px;
    text-transform: uppercase;
    margin: auto;

}

input[type="checkbox"]{
    margin-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #467745;
}


label{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #467745;
}
::placeholder {
    color: #467745;

}
@media screen and (max-width: 520px) {
    #root h1{
        font-size: 36px;
        text-align: left;
    }
    input[type=text]{
        width: calc(100% - 40px);
    }
    input[type=textarea]{
        width: calc(100% - 40px);
    }
}